<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.timetable.mapper.TeacherTimetableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.app.timetable.entity.TeacherTimetable">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="course_id" property="courseId" />
        <result column="number" property="number" />
        <result column="homework" property="homework" />
        <result column="course_time" property="courseTime"/>
        <result column="status" property="status"/>
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="DetailResultMap" type="com.app.timetable.dto.TeacherTimetableDTO">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="teacher_name" property="teacherName"/>
        <result column="course_id" property="courseId" />
        <result column="course_name" property="courseName"/>
        <result column="number" property="number" />
        <result column="homework" property="homework" />
        <result column="course_time" property="courseTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="ExtendDetailResultMap" type="com.app.timetable.dto.TeacherTimetableDTO">
        <collection property="students" column="course_id" select="com.app.timetable.mapper.StudentTimtableMapper.selectByCourse"/>
    </resultMap>

    <select id="selectByPage" resultMap="DetailResultMap" parameterType="com.app.timetable.entity.TeacherTimetable">
        SELECT t.*, u.name teacher_name, tag.name course_name FROM `teacher_timetable` t
        LEFT JOIN `sys_user` u ON u.id = t.teacher_id
        LEFT JOIN `course` c ON c.id = t.course_id
        LEFT JOIN tag ON tag.id = c.tag_id
        <where>
            t.status=1
            <if test="timetable.teacherId != null and timetable.teacherId != ''">
                AND t.teacher_id = #{timetable.teacherId, jdbcType=VARCHAR}
            </if>
            <if test="timetable.courseId != null and timetable.courseId != ''">
                AND t.course_id = #{timetable.courseId, jdbcType=VARCHAR}
            </if>
            <if test="tagId != null and tagId != ''">
                AND tag.id = #{tagId}
            </if>
        </where>
    </select>
    
    <select id="selectDetailById" resultMap="ExtendDetailResultMap" parameterType="java.lang.String">
        SELECT t.*, u.name teacher_name, tag.name course_name FROM `teacher_timetable` t
        LEFT JOIN `sys_user` u ON u.id = t.teacher_id
        LEFT JOIN `course` c ON c.id = t.course_id
        LEFT JOIN tag ON tag.id = c.tag_id
        WHERE t.id = #{id}
    </select>
</mapper>
