<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.timetable.mapper.TeacherEvaluationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.app.timetable.model.entity.TeacherEvaluation">
        <id column="id" property="id" />
        <result column="student_id" property="studentId"/>
        <result column="teacher_id" property="teacherId" />
        <result column="score" property="score" />
        <result column="content" property="content" />
        <result column="enable" property="enable" />
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="DetailResultMap" type="com.app.timetable.model.dto.TeacherEvaluationDTO" extends="BaseResultMap">
        <result column="student_account" property="studentAccount" />
    </resultMap>

    <select id="selectByPage" parameterType="java.util.Map" resultMap="DetailResultMap">
        SELECT e.*, u.account student_account FROM `teacher_evaluation` e
        LEFT JOIN `sys_user` u ON u.id = e.student_id
        <where>
            e.enable=1
            <if test="evaluation.studentId != null and evaluation.studentId != ''">
                AND e.student_id = #{studentId}
            </if>
            <if test="evaluation.teacherId != null and evaluation.teacherId != ''">
                AND e.teacher_id = #{teacherId}
            </if>
        </where>
    </select>
</mapper>
